
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  background-color: aqua;
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
} */
.wContainer {
  background-color: #f0f0f0;
  padding: 10px; border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); margin-bottom: 20px;
  align-self: flex-end; max-width: 220px;
  margin-left: auto; margin-top: 20px;
  max-height: 150px;   overflow-y: auto; 
}
.wTitle {
  font-size: 18px;  align-self: flex-end; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); margin-bottom: 20px;  width: fit-content;
}
.wInput {
  display: flex; flex-direction: column; align-items: flex-end;
}
.wLabel {
  font-size: 14px;  margin-bottom: 5px;
}
.wInput {
  padding: 5px; font-size: 14px; width: 100px;  margin-bottom: 5px;
}
.wDetails {
  margin-top: 10px; font-size: 14px; text-align: right;
  border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.wCity {
  color:  rgb(255, 0, 242)
}
#root {

  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
  padding-top: 100px;
  
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
  /* overflow-y: hidden; */
}

.errorD {
color: red;
}

.secquestion {
color: red;
}

.logMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.regMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-bottom: 75px;
}
/* NEWS CSS */
.newsImg{
height: 50%;
width: 50%;
}
.newsDescription {
color: lightblue;

}
.newsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.deleteMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.updateMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.margin-for-inputs {
  margin-bottom: 2rem;
}

.Page1Body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Page2Body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.GameConsole {
    background-color: orangered;
    height: 650px;
    width: 650px;
    border-radius: 100px;
    grid-row: 2/2;
    grid-column: 2/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.LoginButton {
    height: 100px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.LoginButtonNoHover {
    height: 100px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.LoginButton:hover {
    transform: scale(1.2);
    content: url('/images/LoginGlow.png');
}

.SignInButton {
    height: 100px;
    width: auto;
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.SignInButtonNoHover {
    height: 100px;
    width: auto;
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.SignInButton:hover {
    transform: scale(1.2);
    content: url('/images/SignUpGlow.png');
}

.NewGameButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.NewGameButton:hover {
    transform: scale(1.2);
    content: url('/images/NewGameGlow.png');
}


.ContinueButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.ContinueButton:hover {
    transform: scale(1.2);
    content: url('/images/ContinueGlow.png');
}

.OptionsButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.OptionsButton:hover {
    transform: scale(1.2);
    content: url('/images/OptionsGlow.png');
}

.logo2 {
  height: 325px;
}

.logMain {
  display: flex;
  flex-direction: column;
}

.centeringForInputs {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  text-shadow: none;
 }

.regMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.intro-prof {
  background-color: red;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

.dialogue {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.carousel-imgs {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel-captionsEth {
  color: rgb(0, 170, 116);
}

.carousel-captionsSab {
  color: rgb(129, 37, 220);
}

.carousel-captionsJor {
  color: rgb(252, 90, 147);
}

.carousel-captionsAnt {
  color: rgb(255, 251, 11);
}

body{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 25px;
}

.GameBody{
  align-self: center;
  justify-self: center;
  
  display: grid;
  grid-template-columns: 216.25px 400px 216.25px;
  grid-template-rows: 143.5px 400px 143.5px;
  background-color: white;
  border-radius: 25px;
}

.Pet{
  grid-column: 2/2;
  grid-row: 2/2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.ActivityBox{
  grid-column: 1/4;
  grid-row: 3/3;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.MoodBox{
  grid-column: 1/4;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  
}

#Poop{
  grid-column: 3/3;
  grid-row: 2/2;
  display: flex;
  align-self:flex-end;
  align-content: center;
  justify-content: center;
  
}

input{
  color: rgb(255, 0, 242);
  background-color: rgb(0, 0, 0);
  border: solid 2px  rgb(255, 0, 242);
  text-align: center;
  height: 55px;
  border-radius: 20px;
  width: 300px;
  margin: 20px;
}

/* .centeringForInputs {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  text-shadow: none;
  /* border-radius: .5rem; */
 
/* } */ 

.submitBtn{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 242);
  border: solid 2px  rgb(255, 0, 242);
  text-align: center;
  height: 55px;
  border-radius: 30px;
  width: 300px;
  margin: 20px;
  align-self: center;
}

field{
  color: rgb(255, 0, 242);
  background-color: rgb(0, 0, 0);
  margin: 20px;
}

.fieldset-for-inputs {
  border-color: white;
}

.links-for-reRoutes {
  color: rgb(0, 234, 255);
}