/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  background-color: aqua;
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
} */

#root {

  height: 100%;
  width: 100%;
  overflow-y: hidden;

}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
}
.errorD {
color: red;

}
.secquestion {
color: red;
}
.logMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.regMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.newsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.deleteMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}
.updateMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

}
.Page1Body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Page2Body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.GameConsole {
    background-color: orangered;
    height: 650px;
    width: 650px;
    border-radius: 100px;
    grid-row: 2/2;
    grid-column: 2/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.LoginButton {
    height: 100px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}
.LoginButtonNoHover {
    height: 100px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.LoginButton:hover {
    transform: scale(1.2);
    content: url('../src/images/LoginGlow.png');
}

.SignInButton {
    height: 100px;
    width: auto;
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}
.SignInButtonNoHover {
    height: 100px;
    width: auto;
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.SignInButton:hover {
    transform: scale(1.2);
    content: url('../src/images/SignUpGlow.png');
}

.NewGameButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.NewGameButton:hover {
    transform: scale(1.2);
    content: url('../src/images/NewGameGlow.png');
}


.ContinueButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.ContinueButton:hover {
    transform: scale(1.2);
    content: url('../src/images/ContinueGlow.png');
}

.OptionsButton {
    height: 80px;
    width: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.6s;
}

.OptionsButton:hover {
    transform: scale(1.2);
    content: url('../src/images/OptionsGlow.png');
}

.logo2 {
  height: 325px;
}

.logMain {
  display: flex;
  flex-direction: column;
}

.regMain {
  display: flex;
  flex-direction: column;
}

.intro-prof {
  background-color: red;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

.dialogue {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* .carousel-container {
  margin: auto;
  width: 100%;
} */

.carousel-imgs {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}